/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

#myPage {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    text-align: center;
    color: #333;
}

#navigation {
    display: flex;
    flex-direction: column; /* 수정된 부분 */
    align-items: center; /* 수정된 부분 */
    margin-bottom: 20px;
}

button {
    background-color: #faef71;
    color: #000000;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block; /* 수정된 부분 */
    font-size: 16px;
    margin: 10px 0; /* 수정된 부분 */
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #faef71;
}


.section {
    display: none;
}

.section h3 {
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button[type="submit"],
button[type="submit"]:hover {
    background-color: #faef71;
    color: #000000;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}
